@model DatabaseSampler.Application.ViewModels.MongoItemsViewModel

@{
    ViewData["Title"] = "CosmosDB";
}

<h1>MongoDB</h1>

<h2>Do some cool things in the cloud with Cosmos DB.</h2>

<form asp-action="CreateTeacher">
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm">Add a teacher</button>
    </div>
</form>

<p>Existing items</p>

